html,
body {
    height: 100%;
    margin:0px;
    padding:0px;
}
.navbar{margin-bottom: 0px;}

.navbar.navbar-default{
    height: 5%;
}


.landing_page {
    padding-top: 180px;
    background: url('/static_files/images/chat1.jpg');
    height: 95%;
    background-position: center;
    background-size: cover;
}

.web-page {
    background: url('/static_files/images/chat.jpg');
    height: 95%;
    padding-top: 30px;
    background-color: #efb700;

}

.btn.btn-huge {
    background-color:#3399FF;
    font-size: 22px;
    line-height: 22px;
    padding: 15px 20px 16px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
}

.chat-text{
    border: 3px solid #cc9900;
    height: 400px;
    overflow-y: scroll;
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
  }

.chat-info{
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 3px solid #cc9900;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.chat-input{
width: 100%;
height: 60px;
}
